body,
html {
    padding: 0;
    margin: 0;
    background: #f4f5f5
}

code {
    display: inline-block;
    background-color: #fef5f5;
    font-size: 13px;
    padding: 3px 10px;
    line-height: 20px;
    margin: 5px;
    border-radius: 3px;
    color: #e06a6a;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace
}

pre>code {
    display: inline-block;
    background-color: #444 !important;
    font-size: 16px;
    padding: 3px 10px;
    line-height: 15px;
    border-radius: 8px;
    color: #9ccdc4;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace
}

code .tag {
    color: #569cb3
}

code .punctuation {
    color: gray
}

code .attr-name {
    color: #9ccdc4
}

code .attr-value {
    color: #ce9178
}

code .keyword {
    color: #569cb3
}

code .property {
    color: #9ccdc4
}

code .function {
    color: #d0a342
}

.index-box {
    background-color: #f4f5f5;
    display: flex;
    width: 80%;
    max-width: 1280px;
    margin: 10px auto 0
}

.main-box {
    flex: 1;
    margin-right: 10px;
    overflow: hidden;
    border: 1px solid #ddeede;
    background-color: #fff;
    box-shadow: inset 0 0 5px #0000001a
}

.left-box {
    width: 320px
}

.introduce-html {
    padding: 10px;
    font: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial;
    line-height: 26px;
    color: #777
}

.remarks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    color: #999
}

.article-details>p {
    padding: 5px;
    margin-top: 10px
}

.article-details>ul {
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    list-style-type: circle !important;
    line-height: 15px !important
}

.article-details iframe {
    height: 600px;
    border: 1px solid #ccc;
    width: 97%
}

@media (min-width: 650px) and (max-width: 1024px) {
    .index-box {
        width: 100%
    }

    .article-details iframe {
        height: 360px
    }

    .left-box,
    .remarks {
        display: none
    }
}

@media screen and (max-width: 650px) {
    .index-box {
        width: 100%
    }

    .left-box,
    .remarks {
        display: none
    }

    .main-box {
        width: 100%
    }

    .article-details iframe {
        height: 300px
    }
}

.article-details {
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    font: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial;
    line-height: 26px;
    color: #777;
    min-height: 960px
}

.article-details img {
    width: 95% !important;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    padding: 2px;
    margin: 5px
}

.article-details {
    border-left: 3px solid #ccc;
    background-color: #f0f0f0;
    padding: 10px;
    color: #444
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    border-left: 3px solid #ccc;
    background-color: #f0f0f0;
    padding: 10px;
    color: #444
        /* background-color: #f0f0f0; */

}

.article-details h3 {
    border-bottom: 1px dashed #ccc;
    padding: 10px;
    color: #444
}

li {
    margin-bottom: 9px;
    line-height: 25px;
}

.article-details blockquote {
    padding: 10px;
    line-height: 30px;
    overflow: hidden;
    background-color: #eff1f2;
    border-left: 5px solid #ccc;
    color: #888 !important;
    border-radius: 0 !important;
    font-weight: 550
}

.article-details a {
    text-decoration: none;
    color: #555
}

.toc-box {
    padding: 10px;
    background-color: #fff;
    width: 100%;
    color: #86909c;
    position: fixed;
    max-width: 300px;
    border-radius: 5px;
    max-height: 800px;
    overflow: auto
}

.toc-title {
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px
}

.toc-box>a {
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #86909c;
    display: block
}

.toc-box>a:hover {
    text-decoration: none;
    color: #007fff
}

.toc-box>a:visited {
    text-decoration: none;
    border-left: 2px solid #007fff;
    color: #007fff;
    font-size: 18px
}

.fixed {
    position: fixed;
    top: 100px;
    z-index: 2
}

pre>code {
    display: block;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    font-size: 14px;
    line-height: 20px
}

.hljs-comment {
    font-size: 12px !important;
    color: #888 !important
}

.article-title {
    text-align: center;
    background-color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc
}

.goTop {
    position: fixed;
    bottom: 50px;
    right: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    color: #ccc
}

.index-box[data-v-3fffb300] {
    background-color: #f8f8f8;
    display: flex;
    width: 80%;
    max-width: 1360px;
    margin: 10px auto 0
}

.main-box[data-v-3fffb300] {
    flex: 1;
    margin-right: 10px
}

.left-box[data-v-3fffb300] {
    width: 320px
}

@media (min-width: 650px) and (max-width: 1024px) {
    .index-box[data-v-3fffb300] {
        width: 100%
    }
}

@media screen and (max-width: 650px) {
    .index-box[data-v-3fffb300] {
        width: 100%
    }

    .left-box[data-v-3fffb300] {
        display: none
    }

    .main-box[data-v-3fffb300] {
        width: 100%
    }
}

.index-box[data-v-78fafcb6] {
    background-color: #f4f5f5;
    display: flex;
    width: 90%;
    max-width: 1440px;
    margin: 10px auto 0
}

.main-box[data-v-78fafcb6] {
    flex: 1;
    margin-right: 10px
}

.right-box[data-v-78fafcb6],
.left-box[data-v-78fafcb6] {
    width: 320px
}

@media (min-width: 650px) and (max-width: 1024px) {
    .index-box[data-v-78fafcb6] {
        width: 100%
    }

    .left-box[data-v-78fafcb6] {
        display: none
    }
}

@media screen and (max-width: 650px) {
    .index-box[data-v-78fafcb6] {
        width: 100%
    }

    .right-box[data-v-78fafcb6],
    .left-box[data-v-78fafcb6] {
        display: none
    }

    .main-box[data-v-78fafcb6] {
        width: 100%
    }
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    -moz-columns: 4;
    columns: 4;
    -moz-column-gap: 36px;
    column-gap: 36px;
    font: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial
}

.container .box {
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    border-radius: 5px;
    border: 1px solid #e4e0f0
}

.container .box a {
    color: #666;
    text-decoration: none
}

.container .box img {
    max-width: 100%;
    border-radius: 4px
}

.container .box h3 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px
}

.container .box p {
    margin-top: 15px;
    padding: 0 0 10px;
    font-size: 16px;
    color: #888 !important
}

.nav {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center
}

.nav a {
    display: inline-block;
    margin: 0 10px 20px;
    padding: 5px 15px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none
}

@media (min-width: 960px) and (max-width: 1024px) {
    .container {
        -moz-columns: 3;
        columns: 3
    }
}

@media (min-width: 650px) and (max-width: 960px) {
    .container {
        -moz-columns: 3;
        columns: 3;
        -moz-column-gap: 30px;
        column-gap: 30px
    }
}

@media screen and (max-width: 650px) {
    .container {
        -moz-columns: 2;
        columns: 2;
        -moz-column-gap: 30px;
        column-gap: 30px
    }
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    background-color: #f8fbfb !important;
    color: #333333;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    padding: 3px !important;
}

.hljs-quote {
    color: #969896;
    font-style: italic
}

.hljs-comment {
    color: #969896;
}

.hljs-addition,
.hljs-keyword,
.hljs-literal,
.hljs-selector-tag,
.hljs-type {
    color: rgb(198, 70, 98)
}

.hljs-number,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #333333
}

.hljs-doctag,
.hljs-regexp,
.hljs-string {
    color: #8abeb7
}

.hljs-built_in,
.hljs-name,
.hljs-section,
.hljs-title {
    color: #3061d5
}

.hljs-class .hljs-title,
.hljs-selector-id,
.hljs-template-variable,
.hljs-title.class_,
.hljs-variable {
    color: #fc6
}

.hljs-name,
.hljs-section,
.hljs-strong {
    font-weight: 700
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-subst {
    color: #f99157
}

.hljs-symbol {
    color: #333333
}

.hljs-deletion {
    color: #dc322f
}

.hljs-formula {
    background: #eee8d5
}

.hljs-attr {
    color: #81a2be
}

.hljs-emphasis {
    font-style: italic
}

p {
    margin-bottom: 10px;
    line-height: 1.7;
}

code {
    tab-size: 4;
}

p>img {
    width: 70%;
    margin: 20px;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

.hljs-attribute {
    color: #333333
}